@using PracticeNewProject.Models

@model PracticeNewProject.Models.Student

@{
    ViewBag.Title = "Create";
}

<h2>Create</h2>


@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()

<div class="form-horizontal">
    <div class="form-group">
        @Html.LabelFor(m => m.UserName, new { @class = "control-label col-md-2" })
        <div class="col-md-10">
            @Html.TextBoxFor(m => m.UserName, "", new { @class = "form-control" })
        </div>
    </div>
    <div class="form-group">
        @Html.LabelFor(m => m.Password, "Password", new { @class = "control-label col-md-2" })
        <div class="col-md-10">
            @Html.PasswordFor(m => m.Password, new { @class = "form-control" })
        </div>
    </div>
    <div class="form-group">
        @Html.LabelFor(m => m.GenderMale, new { @class = "control-label col-md-2" })
        <div class="col-md-10" style="padding-top: 6px;">
            @Html.RadioButtonFor(m => m.GenderMale, true, new { id = "male" }) Male &nbsp;&nbsp;
            @Html.RadioButtonFor(m => m.GenderMale, false, new { id = "female" }) Female
        </div>
    </div>
    <div class="form-group">
        @Html.LabelFor(m => m.Address, new { @class = "control-label col-md-2" })
        <div class="col-md-10">
            @Html.TextAreaFor(m => m.Address, new { @class = "form-control", id = "IdAddress" })
        </div>
    </div>
    <div class="form-group">
        @Html.LabelFor(m => m.Course, new { @class = "control-label col-md-2" })
        <div class="col-md-10" style="padding-top: 6px;">
            @Html.DropDownListFor(m => m.CourseId, new SelectList(ViewBag.AvailableCourses, "Value", "Text"), "Select...", new { style = "width:100%;" })
        </div>
    </div>
    <div class="form-group">
        @Html.LabelFor(m => m.Hobbies, new { @class = "control-label col-md-2" })
        <div class="col-md-10" style="padding-top: 6px;">
            @foreach (Hobby hobby in ViewBag.AvailableHobbies)
            {
                <input name="SelectedHobbyIds" type="checkbox" value="@hobby.Id" /><span>&nbsp;</span>@hobby.Name<span>&nbsp; &nbsp;</span>
            }
        </div>
    </div>
    <div class="form-group">
        @Html.LabelFor(m => m.Skills, new { @class = "control-label col-md-2" })
        <div class="col-md-10" style="padding-top: 6px;">
            @Html.ListBoxFor(m => m.SelectedSkillIds, new MultiSelectList(ViewBag.AvailableSkills, "Value", "Text"), new { style = "width: 100%;" })
        </div>
    </div>
    <div class="form-group">
        <div class="col-md-offset-2 col-md-10">
            <input type="submit" value="Submit" class="btn btn-default btn-primary" />
        </div>
    </div>
</div>
}

<div>
    @Html.ActionLink("Back to List", "Index")
</div>

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
